@import './../../utilities.scss';

.botSection,
.midSection,
.wrapper{
    @include widthHeight(100%, 430px);
    position: relative;
    overflow: hidden;
    margin-top: -80px;
}

.wrapper{
    @include res-from(1000px){
        margin-top: -150px;
        height: 58vw;
        background-image: url(../icons/landing-top-desktop.svg);
        background-size: 110%;
        background-position-x: -100px;
        background-position-y: -25px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
}

.midSection{
    margin-top: 0;
    height: 260px;
    @include res-from(1000px){
        display: none;
    }
}

.subText{
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    @include res-to(1000px){
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 0 5px;
    }
}

.subDesktop{
    @include flexCenter;
    flex-direction: column;
    background-image: url(../icons/landingSub.svg);
    background-size: 2100px;
    background-repeat: no-repeat;
    padding: 200px 100px;
    margin: 0px 0px -144px 0px;
    background-position: center 0px;
    @include res-to(1000px){
        height: 1400px;
        background-size: 2850px;
        padding: 100px 0px 0px 0px ;
        background-position: center bottom -90px;
    }
    @include res-from(1450px) {
        background-size: 144vw;
    }
}

.botSvg,
.midSvg,
.svg{
    @include positionTRBL(absolute, _, _, _, 50%);
    width: 502px;
    transform: translateX(-50%);
    z-index: -1;
}

.svg{
    @include res(361px, 1000px) {
        width: 140vw;
        top: -10px;
    }
    @include res-from(1000px){
        display: none;
    }
}

.midSvg{
    width: 586px
}

.botSvg{
    width: 530px;
    @include res-to(1000px){
        display: block;
    }
    @include res-from(1000px){
        display: none;
    }
}

.text{
    text-shadow: 1px 1px 2px #2c5b9092;
    text-align: center;
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include res-from(1000px){
        padding-top: 0;
        align-items: flex-start
    }
}

.title,
.description{
    color: white
}

.title{
    margin-bottom: 13px;
    font-weight: bold;
    @include res-from(1000px){
        font-size: 35px;
    }
}

.description{
    height: 110px;
    padding: 0 65px;
    font-size: 14px;
    line-height: 1.5;
    @include res-from(1000px){
        padding: 0!important;
        font-size: 25px;
        width: 740px;
        text-align: start
    }
}

.BottomSignup,
.signup{
    @include widthHeight(100%, 57px);
    background: white!important;
    border-radius: 4px;
    line-height: 57px;
    color: #5B86E5!important;
    font-weight: bold!important;
    margin-bottom: 15px!important;
    a {
        color: inherit
    }
}

.BottomSignup{
    margin-bottom: 15px!important;
    color: white!important;
    background: #5B86E5!important;
}

.BottomLogin,
.login{
    font-size: 14px;
    color: white;
    height: 30px;
    line-height: 30px;
}

.login,
.signup{
    @include res-from(1000px){
        display: none!important;
    }
}

.BottomLogin{
    color: #5B86E5;
}

.BottomWrapper,
.secondBlock{
    height: 130px;
    padding: 18px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondBlock{
    @include res-from(1000px){
        display: none;
    }
}

.BottomWrapper{
    padding: 0;
    @include res-from(1000px){
        display: none;
    }
}

.secondBLockTitle{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #5B86E5;
}

.secondBlockDescription{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #5B86E5;
}

.botSectionWrapper,
.midSectionWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 55px 0;
    @include res(440px, 1000px) {
        padding: 80px 135px 0;
    }
}

.botSectionWrapper{
    padding: 80px 0px 0px 0px;
    @include res-from(1000px){
        align-items: flex-start;
        justify-content: center;
        height: 55vw;
        padding: 80px 100px 0;
    }
}

.botSection,
.midSectionTitle{
    margin-bottom: 8px;
    color: white;
    font-weight: bold;
}

.iconWrapper{
    display: flex;
    align-items: center;
    @include res-from(1000px){
        font-size: 25px;
    }
}

.checkIcon{
    @include widthHeight(20px, 20px);
    margin-right: 5px;
}

.botSectionDescription,
.midSectionDescription{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.botSectionDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.botSection{
    margin-top: 0;
    height: 260px;
    margin-bottom: 30px;
    @include res-from(1000px){
        height: auto;
        position: relative;
        overflow: visible
    }
}

.botSectionTitle{
    margin-bottom: 10px;
    @include res-from(1000px){
        font-size: 35px;
    }
}

.svgDesktop{
    display: none;
    @include res-from(1000px){
        display: block;
        @include positionTRBL(absolute, _, _, _, 50%);
        width: 502px;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.childForSubBack{
    display: block;
    background-image: url(../icons/landingSub.svg);
    background-repeat: no-repeat;
    background-size: 2100px;
    @include widthHeight(100%, 526%);
    background-position: -100px bottom;
    @include positionTRBL(absolute, _, _, 103px, _);
    z-index: -1;
}

.childForBack{
    display: none;
    @include res-from(1000px){
        display: block;
        background-image: url(../icons/landing-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-size: 110%;
        @include positionTRBL(absolute, _, _, 103px, _);
        @include widthHeight(100%, 526%);
        background-position: -100px bottom;
        z-index: -1;
    }
}

.BottomWrapperDesktop{
    display: none;
    @include res-from(1000px){
        display: block;
        width: 100%;
        font-size: 35px;
        padding: 0 100px;
        color: #5B86E5;
        margin-bottom: 120px;
    }
}

.landingAuth{
    display: none;
    @include res-from(1000px){
        display: block;
        @include positionTRBL(fixed, 200px, 200px, _, _);
    }
}

.authText{
    display: none;
    @include res-from(1000px){
        display: block;
        @include positionTRBL(absolute, 80px, 180px, _, _);
        font-size: 20px;
        color: white;
        z-index: 1;
        @include res-to(1500px){
            right: 100px;
            width: 350px;
            text-align: center;
        }
    }
}
.itemsWrapper{
    @include res-from(1000px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    @include res-to(1000px){
        display: none;
    }
}

.midSectionDesktop{
    @include res-from(1000px){
        padding: 0 100px;
        height: 555px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include res-to(1000px){
        display: none;
    }
}

.itemValue{
    @include res-from(1000px){
        font-size: 25px;
        color: #5B86E5;
        width: 800px;
    }
}

.itemTitle{
    @include res-from(1000px){
        font-size: 35px;
        color: #5B86E5;
        margin-bottom: 20px;
    }
}

.BottomWrapperDesktop,
.botSectionTitle,
.itemTitle,
.title{
    font-size: 25px;
    @include res-to(1000px){
        font-size: 16px;
    }
    @include res-from(1450px){
        font-size: 30px;
    }
}

.description,
.itemValue{
    @include res-from(1000px){
        width: 500px;
    }
}

.iconWrapper,
.itemValue,
.description{
    @include res-to(1500px){
        font-size: 20px;
    }
    @include res-to(1000px){
        font-size: 14px;
    }
}

.itemTitle {
    transition: 0.2s;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        color: #3ab3e7;
        padding-left: 3px;
    }
}
