@import './../../utilities.scss';

.newLandingPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.registrationBlock{
    height: 730px;
    width: 100%;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../icons/langingSignupBlock.svg);
    background-repeat: no-repeat
}

.introText{
    font-size: 20px;
    color: white;
    width: 550px
}

.introTextTitle{
    margin-bottom: 5px;
    font-size: 28px;
    color: white
}

.freeSignUpText{
    color: white;
    font-size: 20px;
}

.AuthBlock{
    width: 700px;
    height: 370px;
    position: relative;
    @include res-to(100px){
        display: none;
    }
}

.authSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.englishForBlock,
.paymentBlock,
.booksBlock,
.packsBlock,
.trainingsBlock{
    width: 100%;
    height: 730px;
    display: flex;
}

.englishForBlock,
.paymentBlock,
.booksBlock,
.packsBlock{
    background: white;
}

.paymentBlock{
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.englishForBlock{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center
}

.trainingSvg{
    height: 100%;
    width: 45%;
    background: white;
    background-image: url(../icons/landingTrainingsBlock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: -20px;
    background-position-y: -20px;
    @include res-to(1000px){
        display: none;
    }
}

.sectionDescriptionWithoutBack,
.sectionDescription{
    padding-left: 250px;
    width: 55%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.sectionDescriptionWithoutBack{
    background: none;
}

.descriptionWhiteTitle,
.descriptionBlueTitle{
    font-size: 28px;
    color: #5B86E5;
    margin-bottom: 20px;
}

.descriptionWhiteText,
.descriptionBlueText{
    font-size: 20px;
    color: #5B86E5;
    width: 500px;
    margin-bottom: 20px;
}

.descriptionWhiteText,
.descriptionWhiteTitle{
    color: white
}

.moviesBlock,
.progressBlock,
.articlesBlock{
    display: flex;
    width: 100%;
    height: 585px;
    background: url(../icons/landingBlueBack.svg);
    background-repeat: no-repeat
}

.descriptionWhiteButton{
    background: white!important;
    color: #5B86E5!important
}

.articlesSvg{
    background-image: url(../icons/landingArticleBack.png);
    background-size: 126%;
    background-position-y: -20px;
    height: 100%;
    width: 45%;
    @include res-to(1000px){
        display: none;
    }
}

.packsSvg{
    width: 45%;
    height: 100%;
    background-image: url(../icons/landingPacksBack.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-position-x: -20px;
    @include res-to(1000px){
        display: none;
    }
}

.progressSvg{
    background-image: url(../icons/landingProgressBack.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45%;
    height: 100%;
    background-position: center center;
    background-position-x: 20px;
    @include res-to(1000px){
        display: none;
    }
}

.booksSvg{
    background-image: url(../icons/landingBooksBack.png);
    background-repeat: no-repeat;
    background-size: 120%;
    width: 45%;
    height: 100%;
    background-position-x: -20px;
    background-position-y: -20px;
    @include res-to(1000px){
        display: none;
    }
}

.moviesSvg{
    background-image: url(../icons/landingMoviesBack.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 20px;
    background-size: 100%;
    width: 45%;
    height: 100%;
    @include res-to(1000px){
        display: none;
    }
}

.englishForTitle,
.subText{
    font-size: 24px;
    color: #5B86E5;
    font-weight: bold;
}

.landingEnerhyIcon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.englishForTop{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.englishForBottom{
    width: 100%;
    height: 65%;
    background: red
}