@import './../../utilities.scss';

.userPhoto{
    @include widthHeight(100px, 100px);
    border-radius: 100px;
    margin-right: 40px;
    @include res-from(1400px){
        @include widthHeight(150px, 150px);
    }
}

.userSection{
    background: #fff;
    padding: 25px 100px 0;
    @include res-to(1000px){
        padding: 0
    }
}

.mainInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include widthHeight(50%, 100%);
    justify-content: flex-end;
    padding-bottom: 10px;
    @include res-to(1000px){
        padding: 0;
        justify-content: center;
        width: 100%
    }
}

.userStatsWrapper{
    margin: 0 -10px;
    width: 100%;
    padding: 5px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    @include res-to(1000px){
        margin: 0
    }
}

.userWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title{
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
    color: #7f7f7f;
    text-transform: uppercase;
    @include res-to(1000px){
        font-size: 16px;
    }
    @include res-from(1400px){
        font-size: 16px;
    }
}

.userLevelLink{
    color: #3c3c3c;
    &:hover{
        text-decoration: underline
    }
}

.value{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    color: #3c3c3c;
    @include res-to(1000px){
        font-size: 14px;
    }
    @include res-from(1400px){
        font-size: 16px;
    }
    :global .helpClass {
        margin-left: 5px;
    }
}

.keyValue {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 5px 0;
    @include res-to(1000px){
        padding-bottom: 0;
        width: 100%;
    }
}

.level{
    width: 80px;
    @include res-to(1000px){
        width: auto
    }
    @include res-from(1400px){
        width: 100px
    }
}

.bottomSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -5px;
    @include res-to(1000px){
        flex-direction: column;
        padding: 0 30px;
    }
}

.email{
    font-size: 12px;
    color: #7f7f7f;
}

.exit{
    font-size: 12px;
    color: #7f7f7f;
    cursor: pointer;
    height: 14px;
    &:hover{
        background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.achivements,
.subscription{
    @include widthHeight(135px, 25px);
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    color: #7f7f7f;
    cursor: pointer;
    border-radius: 30px;
    &:hover{
        color: white;
        background: #5B86E5
    }
}

.exitWrapper{
    @include widthHeight(50%, 100%);
    display: flex;
    justify-content: flex-end;
    padding-top: 27px;
    @include res-to(1000px){
        display: none;
    }
}

.name{
    margin-bottom: 10px;
    font-weight: bold;
    color: #5B86E5
}

.topSection,
.bottomSection{
    height: 50%;
}

.topSection{
    border-bottom: solid 1px #c2c2c2;
    display: flex;
    align-items: center;
}

.userInfo{
    @include widthHeight(100%, 100%);
}

.userWrapper{
    height: 80%;
}

.tabsFooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include res-to(1000px){
        justify-content: center
    }
}

.userPage{
    background: #EDF2FC;
    flex-grow: 1;
}

.userPhotoMobile{
    display: none;
}

.subUserWrapper{
    width: 830px;
    @include flexCenter;
    flex-direction: column;
    padding-top: 20px;
}

.userSubText{
    font-size: 20px;
    color: #7f7f7f;
    margin-bottom: 20px;
    @include res-to(1000px){
        font-size: 16px;
        text-align: center
    }
}

.helperForIcon{
    position: relative;
    @include res-to(1000px){
        display: none;
    }
}

.userStatsPaymentBlock{
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.copyIcon {
    @include widthHeight(16px, 16px);
    margin-left: 5px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.copyWrapper {
    display: flex;
    align-items: center;
}

.copyLink {
    background: #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 10px;
    transition: 0.3s;
    position: relative;
    z-index: 0;
    transform-origin: right;
    @include res-from(1000px) {
        &:hover {
            transform: scale(1.35);
            &:before {
                content: '';
                @include positionTRBL(absolute, -10px, -10px, -10px -10px);
                z-index: -1;
            }
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .userPhotoMobile{
        display: block;
        @include widthHeight(60px, 60px);
        border-radius: 60px;
        margin-right: 20px;
    }

    .userStatsPaymentBlock{
        padding: 0
    }

    .userInfo .topSection{
        padding: 0 30px;
    }

    .topSection{
        height: 40%;
    }

}