@import './../../utilities.scss';

.first-section,
.second-section{
    height: 50%;
}

.achivements-icon{
    height: 45px;
}

.UserStatsCard{
    @include widthHeight(calc((100% / 3) - 20px), 210px);
    background: white;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

.first-section{
    border-bottom: solid 1px #d5d5d5
}

.first-section-title{
    color: #5b86e5;
    font-weight: bold;
}

.first-section{
    display: flex;
    flex-direction: column
}

.title{
    @include widthHeight(100%, 25%);
}

.info{
    @include widthHeight(100%, 75%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.finishCounter{
    display: flex;
    flex-direction: column;
}

.items-title{
    color: #7f7f7f;
    font-size: 14px;
    margin-bottom: 5px;
}

.items{
    margin-right: 20px;
}

.items-value{
    font-size: 12px;
    color: #3c3c3c;
}

.red{
    color: red
}

.green{
    color: #22b822;
}

.orange{
    color: #ffa301
}

.aсhive-title{
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #7f7f7f;
    padding-top: 10px;
}

.achive-items{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.achive-item{
    @include widthHeight(35px, 35px);
    border-radius: 35px;
    background: blue;
    margin-right: 15px;
}

@media screen and (max-width: 1000px) {
    .UserStatsCard{
        width: calc(100% - 20px);
        margin: 5px 10px;
    }

    .user-photo{
        display: none;
    }

    .user-stats-wrapper{
        flex-direction: column;
        margin: 0;
        padding: 5px 0px 50px 0px;
    }

    .user-page__user-section{
        height: 330px;
    }

    .user-page__user-section,
    .user-page__user-stats{
        padding: 0
    }

    .bottom-section{
        flex-direction: column;
        padding: 0 30px;
        align-items: flex-start
    }

    .title{
        font-size: 16px;
    }

    .value{
        font-size: 14px;
    }

    .exitWrapper{
        display: none;
    }

    .level{
        margin-right: 0
    }

    .level,
    .activity{
        padding-bottom: 0;
        width: 100%
    }
}