@import './../../utilities.scss';

.UserLevel{
    @include flexCenter;
    flex-direction: column;
    flex-grow: 1;
    margin-top: -68px;
    background: linear-gradient(100deg, #57d0ff 0%, #5b86e5 100%);
    @include res-from(1000px){
        background-image: url(../icons/404back.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .UserLevelNextButton{
        width: 250px;
        background: white;
        text-transform: none;
        color: #5b86e5;
        margin-top: 20px;
        font-weight: bold
    }
}



.levelsWrapper{
    @include flexCenter;
    flex-direction: column;
}

.levelsWrapper .UserLevelButton{
    width: 250px;
    background: white!important;
    border-radius: 30px;
    color: #5b86e5;
    font-weight: bold;
    margin-bottom: 15px;
    span{
        text-transform: none;    
    }
}

.UserLevelNextButtonHidden{
    visibility: hidden!important;
    pointer-events: none!important
}

.UserLevelText{
    @include flexCenter;
    flex-direction: column;
    width: 250px;
    margin: 20px 0px 30px 0px
}

.UserLevelTextTop,
.UserLevelTextBottom{
    color: white;
    font-size: 14px;
    line-height: 1.5
}

.UserLevelTextBottom{
    text-align: center;
    font-weight: bold;
    @include res-from(1000px){
        width: 350px;
    }
}

