@import './../../utilities.scss';

.scroll{
    @include positionTRBL(fixed, _, 45px, 45px, _);
    @include widthHeight(56px, 56px);
    z-index: 99;
    border-radius: 100px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
    @include flexCenter;
    cursor: pointer;
    background: white;
    padding-bottom: 2px;
    &:hover{
        background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
        & path{
            fill: white
        }
    }
}

.scrollArrow{
    @include widthHeight(20px, 20px);
    transform: rotate(-90deg);
    & path{
        fill:#35b6e8
    }
}