@import './../../utilities.scss';

.premiumButton{
    width: 100px;
    border-radius: 30px;
    background: linear-gradient(90deg,#f7d66f 0,#fb4);
    text-transform: none;
    font-weight: bold;
}

.enegryIcon{
    @include widthHeight(40px, 40px);
    margin-bottom: 5px;
}

.card{
    @include flexCenter;
    font-size: 12px;
    color:#fb4;
    @include widthHeight(80px, 30px);
    border-radius: 30px;
}

.dialog div{
    margin: 0!important;
}

.helpClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    height: 400px;
    position: relative;
    @include res-to(1000px){
        width: 100%;
        padding: 10% 20%;
    }
}

.timeBlock{
    @include flexCenter;
    flex-direction: column;
}

.firstText{
    font-size: 14px;
    color: #7f7f7f;
    text-align: center
}

.secondText{
    color: #333;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.thirdText{
    width: 280px;
    text-align: center;
    font-size: 14px;
    color: #7f7f7f;
}

.bottomText{
    font-size: 14px;
    color: #7f7f7f;
    cursor: pointer;
}

.crossButton{
    @include positionTRBL(absolute, 5px, 10px, _, _);
    cursor: pointer;
}

.copyIcon{
    @include widthHeight(20px, 20px);
}

.inviteText{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #7f7f7f
}

.inviteBlock{
    width: 60%;
    @include flexCenter;
    border-bottom: solid 1px #7f7f7f;
    padding-bottom: 2px;
    @include res-to(1000px){
        width: 100%
    }
}

.timeBlock,
.premiumButton,
.firstText,
.secondText,
.thirdText,
.inviteBlock{
    margin-bottom: 20px;
}