@import './../../utilities.scss';

.errorBoundary{
    @include widthHeight(100%, calc(100vh - 68px));
    @include flexCenter;
    flex-direction: column;
    @include res-to(1000px){
        @include flexCenter;
    }
}

.firstText,
.secondText{
    color: #898989;
    font-size: 30px;
}

.firstText{
    margin-bottom: 10px;
}