@import './../../utilities.scss';

.userDailyRecomendation{
    margin-top: 20px;
    @include flexCenter;
    @include widthHeight(100%, 165px);
    flex-direction: column;
    background: #fafafa;
}

.Stepper{
    padding: 0;
    background: #fafafa;
}

.recomendationText{
    font-size: 14px;
    margin-bottom: 20px;
    color: #5B86E5;
}

.UserProgressDay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressLabel{
    font-size: 11px;
    color: #5B86E5;
    font-weight: bold;
    margin-right: 5px;
}

.stepIcon{
    background-color: none;  
    background-image: url(../icons/progressLock.svg);
    background-repeat: no-repeat
}

.stepIcon text{
    display: none;
}

.stepIcon circle{
    display: none;
}

.progressDay{
    font-weight: bold;
    color: #22A675;
    font-size: 11px;
}

.progressValue{
    color: #7f7f7f;
    font-size: 12px;
}

.progressLineWrapper{
    display: flex;
}

.Stepper > div {
    width: 165px;
}