@import './../../utilities.scss';

.notFoundPage {
    flex-direction: column;
    @include widthHeight(100%, 100vh);
    @include flexCenter;
    margin-top: -68px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../icons/404back.svg);
}

.button404 {
    color: #5b86e5;
}

.button404Back {
    background: white !important;
}

.wrapper404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text404 {
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}

.icon404 {
    @include widthHeight(400px, 200px);
    margin-bottom: 15px;
}
