@import './../../utilities.scss';

.title{
    font-size: 36px;
    color: #444;
    cursor: pointer;
    @include res-to(1000px){
        font-size: 28px
    }
}

.text{
    color: #555;
    margin-bottom: 30px
}

.markdown {
    li p { // fix bug https://github.com/rexxars/react-markdown/issues/158, version 4.1.3 is not released
        display: inline;
        margin: 0;
    }
}

.Article{
    width: 60%;
    min-height: 30px;
    margin: 50px 0px 0px 70px;
    font-size: 18px;
    @include res-to(1000px){
        width: 90%;
        margin: 0px 0px 50px 0px;
        font-size: 16px;
    }
}

.markdown a {
    color: #5B86E5;
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 4px;
}

.markdown ul {
    padding-left: 24px;
    list-style-type: none;
    li:before{
        content: "";
        @include widthHeight(5px, 5px);
        border-radius: 10px;
        background: #5b86e5;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}

.footer{
    width: 100%;
    border-top: solid 1px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    @include res-to(1000px){
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.icon{
    @include widthHeight(12px, 12px);
    margin-right: 5px;
    fill: #999;
}

.calendar{
    margin-right: 25px;
}

.calendar,
.author{
    display: flex;
    align-items: center
}

.authorText,
.calendarText{
    color: #707070;
}

.Article-wrapper{
    position: relative;
}