@import './../../utilities.scss';

.Articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
}

.articlePaper{
    display:none;
    @include positionTRBL(absolute, 100px, _, _, 0);
    @include widthHeight(300px, 450px);
}

.filterWrapper{
    @include positionTRBL(fixed, 160px, _, _, 100px);
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    @include res-to(1000px){
        width: 90%;
        padding: 20px 0 0;
        position: static;
    }
}

.filterLabel{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
    padding: 0 10px;
    border-radius: 30px;
    margin: 0 10px 10px 0;
    color: #7f7f7f;
    line-height: 30px;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.12);
    }
    &.isChecked{
        background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
        color: white;
        padding-right: 25px;
    }
}

.filterCheckIcon{
    position: absolute;
    right: 10px;
    @include widthHeight(10px, 10px);
    & path{
        fill: white
    }
}