@import './../../utilities.scss';

.share {
    display: flex;
    margin-right: auto;
    > div {
        margin-right: 10px;
        cursor: pointer;
        transition: 0.2s;
        @include positionTRBL(relative, 0, _, _, _);
        &:hover {
            top: 5px;
        }
    }
    @include res-to(1000px){
        margin-bottom: 15px;
        justify-content: space-between;
        margin-right: none;
        width: 100%;
        > div {
            margin-right: 0;
        }
    }
}

.ArticleNotFound {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    a {
        margin: 8px;
        display: inline-block;
        color: black;
        padding: 8px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
        background-color: #fff;
        border-radius: 4px;
    }
}

.backAbsoluteButton{
    @include positionTRBL(fixed, 155px, _, _, 200px);
    @include flexCenter;
    cursor: pointer;
    &:hover .arrowIcon{
        margin-left: -5px;
    }
    @include res-to(1000px){
        display: none;
    }
}

.arrowIcon{
    @include widthHeight(15px, 15px);
    transform: rotate(180deg);
    margin-right: 5px;
    transition: 0.3s
}

.backButtonText{
    padding-top: 2px;
    color: #7f7f7f
}

.Articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.4;
    padding-bottom: 100px
}

.Article{
    width: 60%;
    min-height: 30px;
    margin: 50px 0px 0px 70px;
    font-size: 18px;
    @include res-to(1000px){
        width: 90%;
        margin: 0px 0px 50px 0px;
        font-size: 16px;
    }
}

.title{
    font-size: 36px;
    color: #444;
    cursor: pointer;
    @include res-to(1000px){
        font-size: 28px
    }
}

.text{
    color: #555;
    margin-bottom: 30px
}

.markdown {
    li p { // fix bug https://github.com/rexxars/react-markdown/issues/158, version 4.1.3 is not released
        display: inline;
        margin: 0;
    }
}

.footer{
    width: 100%;
    border-top: solid 1px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    @include res-to(1000px){
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.calendar{
    margin-right: 25px;
}

.calendar,
.author{
    display: flex;
    align-items: center
}

.authorText,
.calendarText{
    color: #707070;
}

icon{
    @include widthHeight(12px, 12px);
    margin-right: 5px;
    fill: #999;
}

.markdown a {
    color: #5B86E5;
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 4px;
}

.markdown ul {
    padding-left: 24px;
    list-style-type: none;
    li:before{
        content: "";
        @include widthHeight(5px, 5px);
        border-radius: 10px;
        background: #5b86e5;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}

