@import './../../utilities.scss';
.subWrapper{
    @include widthHeight(270px, 370px);
    background: white;
    border-radius: 15px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.textWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lineWrapper{
    display: flex;
    margin-bottom: 10px;
}

.subParent{
    display: flex;
    flex-direction: row;
    width: 840px;
    justify-content: space-between;
    align-items: center;
}

.subText{
    font-size: 22px;
    width: 50%;
    text-align: center;
    color: white;
    margin: -50px 0px 20px 0px
}

.paymentLine{
    @include widthHeight(120px, 120px);
    @include positionTRBL(absolute, -14px, -23px, _, _);
}

.userPageSub{
    padding-bottom: 40px!important
}

.subTitle{
    font-size: 25px;
    color: #5B86E5;
}

.subPrice{
    font-size: 18px;
    color: #7f7f7f;
}

.subButtonText{
    color: white!important;
}

.subButtonBack{
    width: 90%!important;
    background: #5B86E5!important;
}

.subWrapper{
    position: relative;
    overflow: visible!important;
    @include res-to(1000px){
        @include widthHeight(calc(100% - 20px), 350px);
        margin: 5px 10px;
    }
}

.subWrapper:nth-child(1) > .subButtonBack{
    background: #B2B2B2!important;
}

.subWrapper:nth-child(1){
    order: 1;
    @include res-to(1000px){
        order: 3;
        height: 350px;
    }
}

.subWrapper:nth-child(2n){
    height: 420px;
    order: 2;
    @include res-to(1000px){
        order: 1;
        height: 350px;
    }
}

.subWrapper:nth-child(3){
    order: 3;
    @include res-to(1000px){
        order: 2;
    }
}

.subTextLine{
    color: #7f7f7f;
    
}

.subCheckIcon{
    @include widthHeight(15px, 15px);
    margin: 2px 5px 0px 0px;
    flex-shrink: 0;
}

.mainWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    @include res-to(1000px){
        flex-direction: column;
        width: 100%;
        padding-bottom: 150px;
    }
}

.detailDescription {
    color: #333;
    line-height: 1.3;
    padding: 10px 10px 25px;
    :global .header-none :local & {
        display: none;
    }
    h2 {
        margin: 40px 0px 10px 0px
    }
}