@import './../../utilities.scss';

.AboutUs{
    width: 100%;
    @include flexCenter;
    padding: 30px 0px;
}

.AboutUsWrapper{
    width: 50%
}

.title{
    font-size: 30px;
    color: #666;
    margin-bottom: 25px;
}

.value{
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
}