@import './../../utilities.scss';

.privacyPolicy{
    width: 100%;
    @include flexCenter();
    padding: 30px 0px;
}

.privacyPolicy__text{
    width: 50%
}

.text__title{
    font-size: 30px;
    color: #666;
    margin-bottom: 25px;
}

.text__block{
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
}

.text__subTitle{
    color: #666;
    margin-bottom: 15px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .privacyPolicy{
        padding: 30px 10px;
    }
    .privacyPolicy__text{
        width: auto
    }
}