@import './../../utilities.scss';

.packSubHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h1 {
        margin-right: 20px;
    }
}

.packTitle {
    font-weight: normal;
}

.packsWord {
    column-count: 5;
    list-style: none;
    padding: 0;
    line-height: 1.4;
    li {
        overflow: hidden;
        text-overflow: ellipsis;
        &:nth-child(2n) {
            background: #00000008;
        }
    }
    @include res-to (1000px) {
        column-count: 2;
    }
}

.packWrapper {
    @include widthHeight(calc(25% - 20px), 154px);
    margin: 10px;
    @include res-to(1000px) {
        width: 100%;
        margin: 5px;
    }
}

.pack {
    background-image: url(../icons/blueTrainBack.svg);
    background-size: 165%;
    height: 100%;
    padding: 15px;
    color: #fff;
    font-size: 24px;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: -1px;
    @include res-to(1400px){
        font-size: 18px;
    }
}

.packRemove {
    @include positionTRBL(absolute, _, 8px, 8px, _);
    padding: 8px;
    svg {
        font-size: 24px;
        color: #565656;
    }
}

.packAdd {
    @include positionTRBL(absolute, 8px, 8px, _, _);
    padding: 8px;
    svg {
        font-size: 24px;
        color: #FFF;
    }
}

.packBackground {
    background: #edf2fc;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 30px 90px;
    margin: 0 -10px;
    @include res-to(1000px) {
        padding: 30px 10px;
        margin: 0 -5px;
    }
}

.tabsWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tabs {
    background: white;
    height: 112px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include res-to(1000px){
        padding: 8px 8px 0;
        height: auto;
        align-items: center
    }
}