@import './../../utilities.scss';

.voc{
    background: #edf2fc;
}

.header{
    height: 100px;
    background: white
}

.mainContant{
    width: 100%;
    min-height: 100vh;
}

.test {
    @include positionTRBL(absolute, 8px, 80px, _, _);
    padding: 8px;
}

.tbRow{
    width: 250px;
    padding-right: 0
}

.tbHeader{
    width: 250px
}

.vocWrapper{
    padding: 30px 100px;
    background: #edf2fc;
    flex-grow: 1;
    > div > div:nth-child(2) {
        th, td {
            &:nth-child(1) {
                display: none;
            }
        }
    }
    @include res-to(1000px){
        > div {
            background:none !important;
            box-shadow: none !important;
        }
        padding: 30px 0;
        > div > div:nth-child(2) {
            thead {
                display: none;
            }
            th, td {
                &:nth-child(1) {
                    display: table-cell;
                }
                &:not(:nth-child(1)) {
                    display: none;
                }
            }
            
        }
    }
}

.vocDetail{
    color: #5B86E5
}

.trashVocWrapper{
    @include flexCenter;
}

.helpVocIcon,
.volumeVocIcon,
.trashVoc{
    @include widthHeight(24px, 24px);
    display: none;
}

.vocRowItem,
.vocCellItem{
    text-align: center
}

.vocTranslate,
.vocTranscription{
    text-align: center
}

.vocTranslate,
.vocTranscription{
    font-size: 16px;
    color: #7f7f7f;
}

.vocWord{
    font-size: 16px;
    font-weight: bold
}

.vocMobileWrapper{
    display: none;
    @include res-to(1000px){
        display: flex;
        height: 140px;
        padding: 20px;
        border-radius: 4px;
        margin: 5px 10px;
    }
}

.vocDesktopWrapper{
    display: block;
    @include res-to(1000px){
        display: none;
    }
}

.renderTableRow{
    display: block;
    @include res-to(1000px){
        display: none;
    }
}

.vocMobileLeft{
    display: flex;
    width: 66%
}

.volumeVocIconWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}

.vocWordInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 34px);
}

.vocTranslateMobile{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #7f7f7f
}

.vocMobileRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include widthHeight(34%, 100%);
}

.vocMobileRightBottom,
.vocMobileRightTop{
    display: flex;
    justify-content: space-between;
    @include widthHeight(100%, 50%);
}

.vocMobileRightBottom{
    align-items: flex-end
}

.vocMobileRightTop{
    align-items: flex-start
}

.vocMobileTranscription{
    color: #7f7f7f
}

.vocMobileWord{
    font-size: 18px;
}

.td {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
    font-weight: 400;
    display: table-cell;
    padding: 4px 56px 4px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}

.tr {
    height: 48px;
}