@import './../../utilities.scss';

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-eclipse {
  @include positionTRBL(fixed, calc(50% - 75px), calc(50% - 75px));
}
.lds-eclipse div {
  @include positionTRBL(absolute, 10%, _, _, 10%);
  @include widthHeight(80%, 80%);
  animation: lds-eclipse 1s linear infinite;
  border-radius: 50%;
  box-shadow: 0 1px 0 0 #35b6e8;
  transform-origin: 50% 50%;
}
.lds-eclipse {
  @include widthHeight(150px, 150px);
}