@import './../../utilities.scss';


.trainCard{
    @include displayFlexWithAlignment(center, space-between, column);
    height: 400%;
    padding: 75px 10px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(118deg, #0deaeb 20%, #5b86e5 100%);
}

.finishTrainText,
.finishTrainTitle{
    margin-bottom: 20px;
}

.finishTrainTitle,
.trainTitle{
    font-size: 22px;
    color: white;
}

.finishTrainText,
.trainSubTitle{
    font-size: 18px;
    color: white;
}

.finishTrainBlock{
    height: 100%;
    display:flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.trainCard .answerButton{
    padding: 0 40px;
    min-width: 250px;
    background: white!important;
    border-radius: 30px;
    color: #5b86e5;
    font-weight: bold;
    margin-bottom: 15px;
    span{
        text-transform: none;    
    }
}

.buttonCheckIconWrapper{
    @include flexCenter;
    @include positionTRBL(absolute, -1px, _, _, 0px);
}

.buttonCheckIcon{
    @include widthHeight(20px, 20px);
    position: absolute;
    left: 10px;
}

.unselectedAnswerButton{
    opacity: 0.5;
}

.finishTrainBlock .signUpButton,
.trainCard .nextButton{
    width: 150px;
    background: white;
    color: #5B86E5;
    font-weight: bold;
}

.answerButton strong{
    background: #5b86e532;
    padding: 0 3px;
    border-radius: 4px;
}

.finishTrainBlock .signUpButton{
    width: 200px;
}