@import './../../utilities.scss';

.wrapper {
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 10px 1px rgba(0, 0, 0, 0.11);
    transition: 0.25s;
    &:hover {
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 4px rgba(0, 0, 0, 0.13);
    }
    @include res-from(1400px) {
        height: calc(95px + 5vw);
    }
}

.articleCard {
    @include widthHeight(100%, 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper {
    height: 120px;
    opacity: 0.8;
    background: #F4F4F4;
    &:hover {
        opacity: 1;
    }
    width: calc(25% - 20px);
    margin: 10px 10px;    
    @include res(0, 1000px) {
        &:nth-child(n+4){
                display: none;
        }
        &:nth-child(n){
            width: calc(50% - 10px);
        }
        &:nth-child(1){
            width: 100%
        }
        margin: 5px 5px;
    }
}

.trainsLockInfo{
    display: flex;
    align-items: center
}

.trainLockIcon{
    @include widthHeight(20px, 20px);
    margin-right: 5px;
}

.trainsLockInfoHide{
    display: none
}

.trainsLockIcon{
    @include widthHeight(20px, 20px);
    fill: #FFBB44;
}

.trainsCounterText,
.trainsCounter{
    font-size: 25px;
    color: #7f7f7f;
}

.trainsCounter{
    margin-right: 5px;
}

.trainsCounterText{
    @include res-to(1000px){
        display: none;
    }
}

.ArticleCheckIcon{
    @include flexCenter;
    @include widthHeight(20px, 20px);
    @include positionTRBL(absolute, 5px, 5px, _, _);
    border-radius: 30px;
    background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
    cursor: help;
    &.is-green{
        background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
    }
    @include res-from(1920px){
        @include widthHeight(30px, 30px)
    }
}

.footerDate{
    color: #7f7f7f;
    font-size: 15px;
}

.title{
    width: 90%;
    font-size: 15px;
    color: #7f7f7f;
    font-weight: bold;
}

.footer{
    display: flex;
    @include widthHeight(100%, 20%);
    align-items: center;
    justify-content: space-between;
}