@import './../../utilities.scss';

.mainPageTrainingBlock{
    height: 50%;
    display: flex;
    flex-direction: column
}

.mainPageTrainingHeader{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-page__training-items{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trainsHelpWrapper{
    display: flex;
    align-items: center;
}

.trainingTitle,
.newArticles{
    font-size: 25px;
    color: #7f7f7f;
    margin-right: 20px;
}

.articles{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex-shrink: 0;
}

.arrowSvg{
    @include widthHeight(16px, 16px);
    margin-left: 5px;
}

.itemsWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    align-items: center;
    justify-content: space-between;
    @include res(0, 1000px){
        margin: 0 -5px;
    }
}

.trainingItems{
    justify-content: flex-start;
}

.allArticles{
    color: #b2b2b2!important;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.allArticles:hover path{
    fill: #35b6e8
}

.allArticles:hover{
    background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.articlesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.dashboard-page__arrow-icon{
    height: 16px;
}

.mainPage{
    display: flex;
    flex-direction: column;
    padding: 30px 100px 60px;
    height: auto;
    @include res(0, 1000px){
        padding: 30px 10px;
        height: auto
    }
}