@import './../../utilities.scss';

.trainingCard{
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 10px 1px rgba(0, 0, 0, 0.11);
    transition: 0.25s;
    &:hover {
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 4px rgba(0, 0, 0, 0.13);
    }
    @include res-from(1400px) {
        height: calc(95px + 5vw);
    }
}

.trainingWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 20px);
    margin: 10px 10px;
    @include res(0, 1000px) {
        width: 100%;
        margin: 5px 5px;
    }
}

.trainingCard:nth-child(1){
    background-image: url(../icons/blueTrainBack.svg);
    background-size: 135%;
}
.trainingCard:nth-child(even){
    background-image: url(../icons/greenTrainBack.svg);
    background-size: 155%;
}
.trainingCard:nth-child(5n-2){
    background-image: url(../icons/orangeTrainBack.svg);
    background-size: 101%;
}

.trainingCard:hover{
    background-size: 600%;
    background-position-x: center;
    @include res-to(1420px){
        .hoverText {
            top: 15px;
        }
        .trainingTitle {
            opacity: 0;
            top: -10px;
        }
    }
}

.trainingCard:hover > .hoverText{
    opacity: 1;
}

.trainingCard:nth-child(5n-2):hover{
    transition: 1.5s
}

.trainingCard{
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-position-x: -1px;
    background-color: #F4F4F4;
    transition: 0.8s;
    padding: 15px 20px 5px;
    &.is-disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.trainingTitle{
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
    @include positionTRBL(relative, 0, _, _, _);
    transition: 0.4s;
    @include res-from(1420px){
        font-size: 23px;
    }
}

.hoverText{
    @include positionTRBL(absolute, 45px, _, _, 50%);
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    font-size: 14px;
    color: #fff;
    transition: 0.8s;
    text-align: left;
    padding: 0 20px;
    line-height: 1.4;
}

.achiveWrapper{
    display: flex;
    align-items: center;
    transition: 0.8s
}