@import './../../utilities.scss';

.Terms{
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

.TermsMainContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.TermsWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.Text__title{
    font-size: 30px;
    color: #666;
    margin-bottom: 25px;
}

.Terms__title{
    color: #666;
    margin-bottom: 15px;
    font-size: 20px;
}

.Terms__value{
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
}