@import './../../utilities.scss';

.title {
    color: #565656;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 13px 0 8px 0;
}

.errorDialogWrapper{
    @include flexCenter;
    flex-direction: column;
    position: relative;
    padding: 10px;
    line-height: 1.4;
    margin: 24px !important;
}

.copy{
    all: unset;
    width: 20%;
}

.closeDialog{
    @include positionTRBL(absolute, 5px, 5px);
    @include widthHeight(30px, 30px);
    line-height: 30px;
    color: #7f7f7f
}

.errorDialog{
    text-align: center
}

.urlWrapper{
    width: 80%
}

.urlBlock{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7f7f7f
}

.url{
    padding-bottom: 5px;
    border-bottom: solid 1px #7f7f7f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title > h6{
    font-size: 25px;
    color: #7f7f7f;
}

.copyIcon{
    @include widthHeight(20px, 20px);
}

.secondText{
    font-weight: bold;
    margin-bottom: 15px;
}

.items{
    text-align: center;
    color: #7f7f7f;
}

.part-of-speech {
    color: #5b86e5;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.88px;
    &::first-letter {
        text-transform: uppercase;
    }
}

.text {
    color: #7f7f7f;
    .word {
        color: #5b86e5;
        font-size: 16px;
        font-weight: bold;
    }
}

.papers {
    display: flex;
    @include res-to(480px) {
        flex-direction: column;
    }
    margin: 5px -5px 5px;
    .paper {
        padding: 16px;
        margin: 5px;
        min-width: 20%;
        &:last-child {
            flex-grow: 1;
        }
    }

    .button {
        margin: 5px;
        width: auto;
        @include res-from (480px) {
            display: none;
        }
    }
}

.lang {
    color: #5b86e5;
    font-size: 16px;
    font-style: italic;
    display: inline-block;
    width: 37px;
    flex-shrink: 0;
}

.exampleList {
    margin: -16px;
    padding: 0;
    list-style-type: none;
}

.example {
    padding: 20px;
    &>div {
        margin: 10px 0;
        display: flex;
    }
    &+& {
        border-top: 1px solid #e0e0e0;
    }
}

// Interactive Transcription 

.trans {
    color: #7f7f7f;
    font-size: 16px;
    letter-spacing: 1px;
}

.wrapper {
    @include flexCenter;
    flex-direction: column;
    .center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .iconWrapper {
        margin-right: 8px;
    }
    svg {
        color: #b2b2b2;
    }
}

.open {
    background-color: rgba(41, 41, 41, 0.73);
    border-radius: 4px;
    padding: 10px 0;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    color: white;
    h3 {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 30px;
        svg {
            margin-left: 10px;
        }
    }
}

.symbols {
    list-style-type: none;
    padding: 0;
    li {
        padding: 10px;
        padding-left: 25px;
        & + li {
            border-top: 1px solid #ffffff4d;
        }
    }
}

.close {
    @include flexCenter;
    text-align: center;
}

.innerWrapper {
    width: 100%;
}

.button {
    width: 100%;
}