@import './../../utilities.scss';

.userIcon{
    @include positionTRBL(absolute, _, 38px, 10px, _);
    @include widthHeight(30px, 30px);
}

.userInfo{
    @include widthHeight(15px, 15px)
}

.helpClass{
    display: flex;
}

@media screen and (min-width: 1400px) {
    .userIcon{
        @include widthHeight(45px, 45px)
    }
    .userInfo{
        @include widthHeight(20px, 20px)
    }
}