@import './../../utilities.scss';

.logoText{
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold
}

.logo{
  margin: 0;
  height: 35px;
}

.navbarWrapper{
  display: flex;
  align-items: center;
  height: 100%;
}

.logoLink{
  height: 100%;
}

.navigation{
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.energyIcon{
  @include widthHeight(18px, _);
  margin-left: 5px
}

.logoWrapper{
  display: flex;
  margin-right: 40px;
  align-items: center;
  height: 100%;
  @include res-to(1000px){
    margin: 0
  }
}

.exitIcon{
  width: 12px;
  margin-right: 5px;
}

.exitButton{
  color: #7f7f7f;
}

.AttemptsForDay{
  @include widthHeight(88px, 36px);
  border-radius: 30px;
  background: white;
  margin-right: 20px;
  color: #FFBB44;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  @include flexCenter;
}

.menuIcon{
  display: none;
  width: 30px;
  @include res-to(1000px){
    display: block;
  }
}

.authButtons{
  display: flex;
  .signupButton{
    background: white;
    border-radius: 4px;
    width: 150px;
    @include flexCenter;
    color: #44a7e6;
    &:hover {
      color: #FFF;
    }
  }
}

.user{
  width: 36px;
  cursor: pointer;
  z-index: -1;
  position: relative;
}

.comingSoonCircle{
  @include widthHeight(7px, _);
  border-radius: 7px;
  background: orange;
  margin: 0px 0px 3px 4px;
}

.authButton{
  display: flex
}

.paymentButton{
  height: 30px;
  border-radius: 30px!important;
  line-height: 30px!important;
  text-align: center;
  padding: 0 15px 0 15px!important;
  background: linear-gradient(to right, #F7D66F 0%, #FFBB44 100%);
}

.NavigationButton{
  display: flex!important;
  align-items: center!important;
  height: 30px!important;
  border-radius: 30px!important;
  text-align: center!important;
  padding: 0 15px 0 15px!important;
  &:hover {
    background: #fff!important;
    color: #47aed7!important
  }
}

.headerTrainsLockIcon{
  height: 100%;
  display: none;
  @include res-to(1000px){
    @include flexCenter;
  }
}

.headerTrainsLockIconHidden{
  visibility: hidden;
}

.header {
  height: 68px!important;
  background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
  position: relative!important;
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: space-between!important;
  @include res-to(1000px){
    height: 58px!important;
    display: flex!important;
    flex-direction: row!important;
    padding: 0 14px!important;
  }
  :global .header-none :local & {
    background: none;
    box-shadow: none;
  }
  :global .header-noneBackground :local & {
    background: none;
    box-shadow: none;
  }
}

.header-paymentItem{
  border-radius: 30px;
  padding: 0 15px;
  text-align: center;
  color: white;
  background: red
}

.userPayment{
  display: flex;
  align-items: center;
  height: 100%;
  @include res-to(1000px){
    display: none;
  }
}

.headerButton{
  display: flex!important;
  align-items: center!important;
  height: 30px!important;
  border-radius: 30px!important;
  text-align: center!important;
  padding: 0 15px 0 15px!important;
  margin-left: 19px!important;
  &:hover {
    background: #fff!important;
    color: #47aed7!important;
  }
}

@media screen and (max-width: 1000px) {
  .myPageHeader{
    display: none!important;
  }

  .paymentButton{
    display: none!important;
  }

  .navigation,
  .authButton{
    display: none
  }

  .articlesButton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include widthHeight(100%, 80px);
    padding: 0 25px;
    color: #7f7f7f;
    border-bottom: solid 1px #7f7f7f
  }

  .authSectionWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 25px
  }

  .navWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
  }

  .exitWrapper{
    @include widthHeight(100%, 30px);
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start
  }

  .authButtons{
    display: none
  }

  .logo{
    @include widthHeight(35px, _);
  }

  body .header{
    height: 58px;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center
  }

  .logoWrapper{
    @include widthHeight(100%, _);
    margin: 0;
    justify-content: center;
  }
  .menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include widthHeight(250px, 100vh);
    max-width: 400px;
    padding: 58px 0 20px 0;
  }

  .notLogin{
    align-items: center
  }

  .menuItem{
    @include widthHeight(100%, 28px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    color: #5B86E5;
    border-radius: 36px;
    padding: 0 15px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 30px;
    &:active{
      background: #5B86E5;
      color: white
    }
  }

  .noLogin{
    color: #7f7f7f;
  }

  .authSectionWrapper .menuItem{
    padding: 0;
    margin-bottom: 20px;
    &:active{
      background: white;
      color: #5B86E5
    }
  }

  .noSignup{
    color: #5B86E5
  }

  .menuCross{
    @include positionTRBL(absolute, 15px, _, _, 15px);
    @include widthHeight(40px, 40px);
    text-align: center;
    line-height: 40px;
    color: #5B86E5;
  }

  .logoText{
    font-size: 20px;
  }
}