@import './../../utilities.scss';

.ExitIcon,
.UserIcon{
    margin-right: 10px;
}

.UserIcon{
    width: 16px;
}

.ExitIcon{
    width: 10px
}

.userName{
    color: #5B86E5;
    font-weight: bold;
    height: 60%;
}


.exit {
    color: #7f7f7f;
    cursor: pointer;
    &:hover {
    background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }   
}

.itemWrapper{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include widthHeight(100%, 40%);
}

.paymentStatus{
    color: #7f7f7f;
    font-size: 14px;
}

.userInfo{
    position: relative;
    height: 100%;
    border-bottom: solid 1px #c3c3c3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.details{
    display: none
}

.topSection{
    @include widthHeight(100%, 100px);
    padding: 0 25px;
    @include flexCenter;
    border-bottom: solid 1px #c2c2c2;
    @include res-from(1000px){
        padding: 0;
        justify-content: flex-start;
        height: 50%;
    }
}

.mainInfo{
    width: auto;
    overflow: hidden;
}

.userPhotoMobile{
    @include widthHeight(50px, _);
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    @include res-from(1000px){
        display: none;
    }
}

.name{
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    @include res-from(1400px){
        font-size: 18px;
    }
}

.details{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #7f7f7f;
}

.detailsIconAbsolute,
.detailsIcon{
    @include widthHeight(16px, _);
    margin-left: 5px;
}

.detailsIconAbsolute{
    @include positionTRBL(absolute, 20px, 30px, _, _);
}

.mainInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include widthHeight(50%, 100%);
    justify-content: flex-end;
    padding-bottom: 10px;
}

.name{
    margin-bottom: 10px;
    font-weight: bold;
    color: #5B86E5
}


.email{
    font-size: 12px;
    color: #7f7f7f;
    @include res-from(1400px){
        font-size: 16px;
    }
}
.userWrapper{
    @include widthHeight(36px, _);
    border-radius: 36px;
    position: relative;
    background-size: cover;
    margin-left: 20px;
    cursor: pointer;
}

.userMockIcon {
    z-index: -1;
    position: relative;
}

.userMenu{
    @include positionTRBL(absolute, 43px, 0px, _, _);
    @include widthHeight(250px, 100px);
    background: white;
    box-shadow: 0px 0px 2px black;
    z-index: 99999;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .userName-user{
        border-top: solid 1px #c3c3c3;
        border-bottom: none;
        padding-top: 10px;
        margin-bottom: 15px;
    }

    .userWrapper{
        display: none;
    }

    .mainInfo{
        padding: 0;
        justify-content: center;
        width: 100%
    }
}