@import './../../utilities.scss';

.wrapper{
    @include flexCenter;
    flex-grow: 1;
    .resetpassword{
        @include widthHeight(850px, 330px);
        border-radius: 4px;
        background-color: white;
        display: flex;
        padding:0px;
        flex-direction:column;
        align-items:center;
        color:#7f7f7f;
        .button{
            margin-top:30px ;
        }
        .input{
            margin-top:12px;
            width:350px !important;
        }
        .underline::before{
            border-bottom-color:#ccc !important;
        }
        h3{
            margin-top:50px;
        }
        .row{
            display:flex;
            margin-top:50px;
            align-items: center;
            h4{
            font-size: 14px;
            }
            .buttonText{
                color:#5b86e5;
            }
            .buttonLogin{
                align-items:flex-end; 
                height:15px;  
                margin-left:15px;  
                background:white;
            }
        }
    }
}