@import './../../utilities.scss';

.wrapper{
    @include flexCenter;
    flex-direction: column;
    flex-grow: 1;
}

.topSection{
    @include flexCenter;
    margin-bottom: 30px;
    @include res-to(1000px) {
        flex-direction: column;
    }
}

.startTrainSelect{
    min-width: 220px;
}

.text{
    color: #7f7f7f;
    font-size: 24px;
    margin-right: 10px;
    @include res-to(1000px) {
        margin-bottom: 30px;
    }
}

.startButton{
    @include widthHeight(150px, 35px);
    min-height: auto!important
}

:global .select__control{
    box-shadow: 0 0 4px #7f7f7f!important;
    border-style: none!important
}