@import './../../utilities.scss';

.footer{
    display: flex;
    justify-content: space-between;
    height: 140px;
    padding: 20px 10px;
    background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%);
    margin-top: auto;
    z-index: 1;
    @include res-from(1000px){
        padding: 20px 100px
    }
    // :global .header-none :local & {
    //     background: none;
    // }
}

:global .footerWithoutBakground :local .footer{
    background: none
}

:global .footer-none :local .footer{
    display: none;
}

.footerRightWrapper,
.footerLeftWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.footerRightWrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include res-to(1000px){
        display: none;
    }
}

.visaIcon{
    @include widthHeight(70px, 55px);
}

.mastercardIcon{
    @include widthHeight(70px, 50px);
}

.policy,
.email,
.copywrite{
    font-size: 14px;
    color: white
}