@import './../../utilities.scss';

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;   
    @include res-to(1000px) {
        padding-top: 15px;
    }
}

.arrowIcon{
    display: none;
    @include res-to(1000px){
        display: block;
        @include widthHeight(12px, 12px);
        @include positionTRBL(absolute, 13px, 15px, _, _);
        transform: rotate(90deg);
    }
}

.timeLeft {
    height: 10px;
    background: #dadada;
    margin: -15px -10px 10px;
    @include res-from(1000px) {
        margin: -30px;
    }
    div {
        background: green;
        height: 100%;
    }
}

.answers {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    @include res-from(1000px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.button {
    @include res-from(1000px) {
        align-self: center;
        width: 260px;
    }
}

.button,
.answerButton {
    text-transform: capitalize;
    font-weight: bold;
}

.answerButton {
    background: #ffffff;
    color: #7f7f7f;
    margin-bottom: 5px;
    @include res-from (1000px) {
        width: calc(20% - 20px);
    }
    &.correct {
        color: green;
    }
    &.notCorrect {
        color: red;
    }
    .number {
        @include positionTRBL(absolute, _, _, _, 10px);
        @include res-to(1000px) {
            display: none;
        }
    }
    &.isOpen {
        @include res-to(1000px) {
            height: 68px;
            align-items: flex-start;
            .eachAnswer {
                top: auto;
                bottom: 10px;
                display: block;
            }
        }
    }
    .eachAnswer {
        .isAnswersShown & {
            @include res-from(1000px) {
                display: block;
            }
            .isOpen & {
                display: block;
            }
        }
        display: none;
        @include positionTRBL(absolute, 40px, _, _, _);
    }
}

.progress {
    display: flex;
    justify-content: center;
}

.wordInfo {
    @include flexCenter;
    margin: 10px 0px 26px 0px;
    & > * {
        margin: 0 10px;
    }
}

.icons{
    height: 25px;
}

.input {
    letter-spacing: 15px;
    text-indent: 10px;
    padding: 0 10px;
    text-align: center;
    ::-webkit-input-placeholder {
        text-align: center;
    }
}
.inputRoot {
    align-self: center;
    margin-bottom: 20px;
}

.engAnswer {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 15px;
    text-indent: 10px;
}

.letter {
    color: #1ec440;
    position: relative;
    &:after {
        content: "";
        @include positionTRBL(absolute, _, _, -2px, -4px);
        @include widthHeight(16px, 21px);
        border-radius: 3px;
        background: #00bf1624;
    }
    &.isNotCorrect {
        color: #1ec440;
        font-weight: bold;
        &:after {
            background: #ff8c0047;
        }
        
        &:before {
            content: "";
            @include positionTRBL(absolute, _, _, 39px, -3px);
            @include widthHeight(20px, 17px);
            border-radius: 3px;
            background: #bf000057;
        }
    }
}