* {
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100%
}

html, body, #root{
  height: 100%;
}



html {
  font-family: 'Helvetica', 'Roboto', sans-serif;
}

.upload-popup{
  width: 450px;
  height: 350px;
  background: green;
}

.user-text{
  height: 250px;
  width: 350px;
  min-width: 350px;
  min-height: 250px;
  max-width: 350px;
  max-height: 250px;
}

a{
  text-decoration: none;
  color: white;
}

.text-field{
  width: 600px;
  height: 400px;
  min-width: 600px;
  min-height: 400px;
  max-width: 600px;
  max-height: 400px;
}

.BookPreview{
  height: 350px;
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.5s;
  line-height: 40px;
}

.upload-buttons{
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-button{
  color: black;
}

.book-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.BookPreview:hover{
  box-shadow: 0 0 5px #7f7f7f;
}

.bookName-preview{
  color: black;
}

.books-wrapper{
  width: 100%;
  margin: 30px 0;
  border-radius: 6px;
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20%, 20%));
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  padding: 0 160px;
}

.Book{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-name{
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.table-wrapper{
  width: 60%;
}

.train-word{
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.train-form{
  width: 400px;
  border-radius: 10px;
  border: solid 1px black;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Vocabulary{
  display: flex;
  justify-content: space-between;
}

.Books{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}



.Books__mainContent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.pack-name{
  padding: 20px 0 20px 20px;
  font-size: 25px
}

.pack-complexity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px
}

.WordsPack{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voc-menu{
  width: 200px;
  height: 300px;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.train-answer{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.levels-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level{
  width: 300px;
}



@media screen and (max-width: 1366px) {

}

.dashboard-page,
.not-found-page{
  padding: 30px;
  a {
    color: black;
  }
}

.s-alert-bottom {
  left: 10px;
  right: 10px;
  width: auto;
  transform: translateY(-10px);
  box-shadow: 1px 1px 5px 2px #00000059;
  border-radius: 6px;
  padding: 16px;
  padding-right: 56px;
  z-index: 9999999999;
}

.s-alert-error {
  background: #e65454;
}

.s-alert-close {
  width: 30px;
  height: 30px;
  right: 15px;
  top: calc(50% - 15px);
  opacity: 0.4;
}



.s-alert-effect-myScale.s-alert-show,
.s-alert-effect-myScale.s-alert-hide {
  animation-name: animMyScale;
  animation-duration: 0.25s;
}

@keyframes animMyScale {
  0% { 
    opacity: 0; 
    transform: translate3d(0,40px,0) scale3d(0.1,0.3,1); 
  }
  100% { 
    opacity: 1;
    transform: translate3d(0,-10px,0) scale3d(1,1,1); 
  }
}