@import './utilities.scss';

body {
  margin: 0;
  padding: 0;
}

// #root {
//   overflow-x: hidden;
// }

.highlight {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;

  // margin-left: 10px;
  // & + & {
  //   margin-left: 0;
  // }
}



.highlight:before {
  background: #f9e5ba;
}

.is-without-trans {
  // background: rgba(255,0,0,0.1);
}


#richText span[data-num] {
  position: relative;
  display: inline-block;
  white-space: pre;

  transition: 1s;
  margin-right: 1px;

  cursor: pointer;
  // &:hover {
  //   transform: scale(1.3);
  //   z-index: 1;
  //   cursor: pointer;
  //   &:before {
  //     background: rgb(230, 230, 230);
  //     border-radius: 4px;
  //     box-shadow: 0px 0px 4px 1px #00000066;
  //   }
  // }

  &:before {
    transition: 0.5s;
    content: '';
    position: absolute;
    top: -2px;
    left: -4px;
    right: -4px;
    bottom: -2px;
    z-index: -1;
  }


  &.is-without-trans:after {
    content: "";
    border-bottom: solid 2px #d9bf44;
    bottom: 3px;
    right: 5px;
    left: 5px;
    position: absolute;
  }
}




audio {
  position: fixed;
  width: 80%;
  z-index: 1;
}

.page {
  padding: 30px;
  @include res-to(1000px) {
      padding: 30px 10px;
  }
}