@mixin res-to($upper) {
    @media (max-width: ($upper)) {
        @content;
    }
}

@mixin gradientText {
    color:#35b6e8;
    background: #FFF;
}

@mixin displayFlexWithAlignment($alignItems: null, $justifyContent: null, $direction: null){
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $direction
}

@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center
}

@mixin widthHeight($width, $height){
    @if $height {
        height: $height;
        width: $width
    } @else {
        $height: $width
    }
}

@mixin positionTRBL($position, $top: null, $right: null, $bottom: null, $left: null){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin res-from($lower) {
    @media (min-width: ($lower)) {
        @content;
    }
}

@mixin res($lower, $upper) {
    @media (min-width: $lower) and (max-width: ($upper)) {
        @content;
    }
}

@mixin global-distance ($distance) {
    &.pl {padding-left: $distance}
    &.pr {padding-right: $distance}
    &.al {left: $distance;}
    &.ar {right: $distance;}
}

.global{
    @include global-distance(5px);
    @include res-from(330px) {
        @include global-distance(30px)
    }
    @include res-from(1000px) {
        @include global-distance(100px)
    }
    @include res-from(1100px) {
        @include global-distance(160px)
    }
    @include res-from(1450px) {
        @include global-distance(250px)
    }
}