.Books__header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 100px
} 

.Books__navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 50%;
}

.Books__pageName{
    font-size: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.Books-dev{
    height: calc(100vh - 68px);
    display: flex;
    align-items: center;
    justify-content: center
}

.navBar__item{
    color: #333;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active{
    width: 33%;
    position: relative;
    &:before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 3px;
        width: 100%;
        background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%)
    }
}