@import './../../utilities.scss';

.Book{
  @include res-to(1000px){
    padding-bottom: 80px;
    position: relative;
  }
}

.Book .footer{
  @include widthHeight(100%, 67px);
  @include positionTRBL(fixed, null, null, 0px, null);
  @include flexCenter;
  background: white;
  z-index: 99999999;
  flex-direction: column;
}

.Book a {
  color: black;
}

.english-page {
  padding: 20px;
  box-shadow: 1px 1px 7px 0px #00000052;
  margin: 40px 0;
  border-radius: 2px;
}

.paginationInput{
  @include widthHeight(50px, 20px);
  border-radius: 4px;
  text-align: center;
  border: solid 1px #eeeeee;
}

.paginationArrow{
  width: 8px;
  fill: #fff;
}

.paginationArrow.paginationArrowRotate{
  transform: rotate(180deg);
}

.paginationButton{
  @include flexCenter;
  @include widthHeight(36px, 36px);
  border-radius: 35px;
  background: #6e6e6e;
  color: white;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover{
    background: #383838
  }
}

.paginationControls{
  @include displayFlexWithAlignment(center, space-between, null);
  width: 100px;
  margin-left: -50px;
}

.bookInfo{
  background: white;
  box-shadow: 0 4px 2px -2px #7f7f7f;
  padding: 20px 0;
  @include widthHeight(100%, 450px);
  @include displayFlexWithAlignment(null, center, column);
  position: relative;
  @include res-to(1366px){
    height: 350px;
    &:before{
      height: 350px;
    }
  }
  @include res-to(1000px){
    display: none;
  }

  &__header{
    @include displayFlexWithAlignment(center, flex-start, null);
    height: 90px;
      .paginationButton{
        margin-left: 50px;
        margin-right: 40px;
      }
  }

  &__main{
    display: flex;
    @include widthHeight(100%, calc(100% - 90px));
    &-info{
      @include widthHeight(700px, 100%);
    }
  }

  &__picture-wrapper{
    position: relative;
    @include widthHeight(284px, 100%);
    background: pink;
    margin-left: 128px;
    margin-right: 64px;
  }

  &__picture{
    @include widthHeight(284px, 396px);
    @include positionTRBL(absolute, null, null, -36px, null);
  }
}

.bookName{
  color: black;
}

.bookText{
  width: 800px;
  margin: 40px auto 80px;
  line-height: 1.7;
  font-size: 18px;
  position: relative;
  box-shadow: 1px 1px 15px -4px #1515154f;
  padding: 10px;
  @include res-to(1000px){
    width: 90%;
    margin: auto;
    box-shadow: none;
    padding: 0;
  }
}

.secondaryText{
  @include widthHeight(629px, 612px);
  @include flexCenter;
  @include positionTRBL(absolute, 62%, null, null, null);
  @include res-to(1366px){
    top: 85%;
    height: 500px;
  };
  @include res-to(1000px){
    display: none;
  }
  padding: 0px 20px 0 20px;
  background: #fff;
  border: solid 1px black;
  opacity: 0.1;
  overflow: hidden;
  border-radius: 4px;
}

.textLeft{
  left: -210px;
  @include res-to(1366px){
    left: -386px;
  }
}

.textRight{
  right: -210px;
  @include res-to(1366px){
    right: -386px;
  }
}

.bookControls{
  @include displayFlexWithAlignment(center, space-between, null);
  width: 58%;
  margin-left: -176px;
  @include res-to(1366px){
    width: 64%
  }
  @include res-to(1000px){
    display: none;
  }
}

.mainInfoName{
  font-size: 22px;
  color: #7f7f7f;
  margin-bottom: 17px;
}

.mainInfoDescription{
  color: #7f7f7f;
  line-height: 1.5;
  @include widthHeight(700px, 195px);
  max-width: 700px;
  max-height: 195px;
  overflow: hidden;
  margin-bottom: 31px;
  font-size: 14px;
  @include res-to(1366px){
    height: 110px;
    font-size: 12px;
  }
}

.mainInfoAddButton{
  transition: 0.3s;
  margin-right: 20px;
  @include widthHeight(233px, 32px);
  border-radius: 4px;
  background: #5b86e5;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  &:hover{
    color: #5b86e5;
    background: #fff;
    box-shadow: 0 0 5px grey;
  }
}

.mainInfoButtonsWrapper{
  display: flex;
}

.breadCrumbs{
  display: none
}

.breadCrumbsItem{
  // margin-right: 10px;
  // font-size: 14px;
  // color: #dbdbdb;
  font-size: 14px;
  margin: 10px 0;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.player{
  @include widthHeight(100%, 4px);
  background: grey;
}

.player-currentPoint{
  @include widthHeight(10px, 10px);
  @include positionTRBL(absolute, -3px, -5px, null, null);
  border-radius: 10px;
  background: green;
}

.rc-slider-track{
  background: linear-gradient(118deg, #35b6e8 0%, #5b86e5 100%)!important;
}

.rc-slider{
  padding: 0!important;
}

.rc-slider-rail{
  background-color: transparent!important;
}

.playerSpeed{
  @include flexCenter;
  @include widthHeight(30px, 20px);
  position: relative;
  cursor: pointer;
  @include res-to(1000px){
    font-size: 13px;
  }
}

.playerSetting{
  position: relative;
  width: 36px;
  cursor: pointer;
}

.playerControls{
  width: 14%;
  @include displayFlexWithAlignment(center, space-between, null);
  @include res-to(1366px){
    width: 17%;
  }
  @include res-to(1000px){
    @include widthHeight(60%, 100%);
  }
}

.controls{
  @include widthHeight(100%, calc(100% - 4px));
  @include displayFlexWithAlignment(center, space-between, null);
  padding: 0 130px 0 130px;
  @include res-to(1366px){
    padding: 0 80px 0 80px;
  }
  @include res-to(1000px){
    justify-content: center;
    padding: 0
  }
}

.pageControls{
  @include displayFlexWithAlignment(center, space-between, null);
  width: 11%;
  @include res-to(1366px){
    width: 13%
  }
}

.sizeControls{
  @include displayFlexWithAlignment(null, space-between, null);
  width: 60px;
  visibility: hidden
}

.settingControlPopup{
  display: none;
}

.settingWrapper{
  @include flexCenter;
  border-radius: 36px;
  position: relative;
  &::before{
    content: "";
    @include widthHeight(50px, 35px);
    @include positionTRBL(absolute, null, null, 36px, -6px)
  }
  &:hover{
    .settingControlPopup{
      @include widthHeight(50px, 136px);
      @include positionTRBL(absolute, null, null, 64px, -7px);
      @include displayFlexWithAlignment(center, space-between, column);
    }
  }
  @include res-to(1000px){
    display: none;
  }
}

.footerControl__item{
  @include widthHeight(100%, 25px);
  text-align: center;
  line-height: 25px;
  color: #4e4e4e;
  &:hover{
    background: #dadada;
  }
}

.previouslyButton{
  @include res-to(1366px){
    @include widthHeight(50px, 20px)
  }
}

.previouslyButton,
.next-button{
  box-shadow: 0px 0px 1px;
  @include widthHeight(58px, 25px);
  @include flexCenter;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: #5b86e5;
    box-shadow: none;
    .arrow-icon{
      border-top: solid 1px white;
      border-left: solid 1px white;
    }
    .set-time{
      color: #ffffff
    }
  }
}

.pageleft{
  color: #595959;
  @include res-to(1366px){
    font-size: 14px;
  }
}

.set-time{
  font-size: 14px;
  color: #7f7f7f;
  margin-left: 3px;
}

.playButton{
  @include flexCenter;
  @include widthHeight(32px, 32px);
  transition: 0.2s;
  background-color: #5b86e5;
  border-radius: 32px;
  text-align: center;
  color: white;
  line-height: 32px;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}

.labels{
  @include positionTRBL(absolute, 100%, null, null, 476px);
  @include displayFlexWithAlignment(center, null, null);
  height: 36px;
  display: none;
}

.complexity{
  @include widthHeight(229px, 100%);
  @include displayFlexWithAlignment(center, flex-start, null);
  &-level{
    font-size: 14px;
    color: #565656;
  }
  &-icon{
    display: flex;
    margin-right: 10px;
  }
}

.pages{
  @include widthHeight(180px, 100%);
  @include displayFlexWithAlignment(center, null, null);
  @include res-to(1366px){
    font-size: 14px;
    width: 160px;
  }
}

.pagesCurrentPage,
.pagesLeftPage{
  color: #565656;
}

.WhiteMode{
  color: black
}

.DarkMode{
  background: black;
  color: white
}

.YellowMode{
  background: yellow;
  color: black;
}

.settingIcon{
  width: 36px;
  z-index: 999999;
  cursor: pointer;
}

.loupeIcon{
  width: 20px;
  fill: #565656;
  @include res-to(1366px){
    width: 18px;
  }
}

.playIcon{
  width: 10px;
  fill: #fff;
}

.netxButton{
  @include res-to(1366px){
    @include widthHeight(50px, 20px)
  }
}

.nextButton .arrowIcon{
  transform: rotate(135deg);
  margin-left: 3px;
}

.arrowIcon{
  @include widthHeight(4px, 4px);
  border-top: solid 1px #b2b2b2;
  border-left: solid 1px #b2b2b2;
  transform: rotate(-45deg);
}

.playerSpeedIcon{
  width: 14px;
  fill: #b2b2b2;
  .playerSpeed:hover & {
    fill: #5b86e5
  }
}

.react-audio-player{
  display: none
}

.paginationMobile{

  @include res-from(1366px){
    display: none;
  }
  
  @include positionTRBL(fixed, calc((100vh - 85px) / 2), null, null, null);
  z-index: 9999;
  display: flex;
  @include widthHeight(36px, 36px);
  border-radius: 35px;
  background: #6e6e6e;
  color: white;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0 8px;
  &.isRight {
    right: -16px;
    justify-content: flex-start;
    left: auto;
  }
  
  left: -16px;
  justify-content: flex-end;
  

}

.bookPopup {
  @include res-to(1000px){
    @include positionTRBL(fixed, 0, 0, 0, 0);
    z-index: 1000000000;
    background: rgba(0, 0, 0, 0.78);
    color: #FFF;
    padding: 20px;
    padding-bottom: 50px;
    overflow: scroll;
  }
}

.Section{
  @include res-to(1000px){
    font-size: 14px;
  }
}

.bookInfoPicture{
  height: 280px;
  width: 200px;
  border-radius: 4px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: -20px;
  margin-right: 30px;
}

.bookInfoPicture{
  @include res-to(1000px){
    display: none;
  }
}

.bookInfoMain{
  display: flex;
  padding: 0 160px;
  @include res-to(1000px){
    display: none;
  }
}

.speedUp{
  @include res-to(1000px){
    display: none;
  }
}

:global .react-audio-player  {
  display: none;
}

:global .rc-slider {
  top: -5px;
}
