@import './../../utilities.scss';

.BookPreview{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 200px;
}

.mainBlock{
    @include displayFlexWithAlignment(center, flex-start, column);
    padding: 10px 0px;
    height: 85%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: -22px;
}

.footer{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.readButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    line-height: 100%;
    width: 60%;
    color: #5B86E5;
}

.bookName{
    color: white
}

.previewText{
    padding: 0 10px;
    color: white;
    height: 50%;
    font-size:12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author{
    color: white;
    font-size: 14px;
}


.books__blankPage{
    height: calc(100vh - 168px);
    display: flex;
    align-items: center;
    justify-content: center
}

.blankPage__text{
    text-shadow: -1px -1px #000,
    0 1px 0 #333;
    color: #444;
    font-size: 35px
}
