@import './../../utilities.scss';

.wrapper {
    @include flexCenter;
    height: calc(100vh - 68px);
}

.comingSoon{
    @include widthHeight(911px, 446px);
    @include flexCenter;
    flex-direction: column;
    padding: 30px 0px;
    background-image: url(../icons/ComingBack.png);
    background-size: 101%;
    background-position: center;
    text-align: center;
    @include res-to(1000px){
        @include widthHeight(calc(100% - 0px), calc(100% + 20px));
        background-size: cover;
    }
}

.title {
    font-size: 30px;
    color: white;
    width: 65%;
    @include res-to(1000px){
        width: 80%;
        font-size: 24px;
    }
}

.text{
    font-size: 20px;
    color: white;
    width: 65%;
    margin: 30px 0 60px;
    @include res-to(1000px){
        width: 80%;
        font-size: 16px;
    }
}

.buttonText{
    @include gradientText
}

.button{
    border-radius: 4px;
    @include flexCenter;    
    @include widthHeight(290px, 40px);
    cursor: pointer;
    background: white;
    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5)
    }
    &:active{
        box-shadow: none
    }
}
.disable{
    cursor: not-allowed;
    pointer-events: none;
    background: #ccc;
}
