@import './../../utilities.scss';

.logo{
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  @include res-from(1601px) {
    font-size: 30px;
  }
}

.logoImage{
  width: 1.6em;
  margin: 0px 8px 0px -12px
}

.header-logo{
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.form{
  
  height: 642px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
  &__buttons-wrapper{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include res-to(1600px){
    height: 442px;
  }
  @include res-to(1000px){
    height: auto;
    min-height: 450px;
  }
}

.form,
.invite {
  width: 940px;
  @include res-to(1600px){
    width: 640px;
  }
  @include res-to(1000px){
    width: auto;
    max-width: 450px;
  }
}

.Login{
  @include flexCenter;
  flex-direction: column;
  flex-grow: 1;
  @include positionTRBL(relative, _, _, _, _);
  background-image: url(../icons/backForAuth.png);
  background-color: #ccc;
  background-size: cover;
}

.invite {
  background: linear-gradient(to top right, #36d1dc57, #5b86e569);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  @include res-to(450px) {
    margin-bottom: 0;
  }
}

.logoText{
  width: 100%;
}

.wrapper{
  width: 236px;
  @include flexCenter;
  flex-direction: column;
}

.title{
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
}

.text{
  font-size: 16px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.leftSide{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include positionTRBL(relative, _, _, _, _);
  @include widthHeight(390px, 100%);
  background: linear-gradient(to top right, #36D1DC, #5B86E5);
  padding-bottom: 50px;
  @include res-to(1000px){
    display: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.answer-button{
  margin-bottom: 10px;
}