@import './../../utilities.scss';

.rightSide{
    background: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 550px;
    padding: 50px 80px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include res-to(1600px){
        padding: 30px 15px;
    }
    @include res-to(1000px){
        padding: 30px 15px;
        width: 100vw;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

body .bottomButton{
    @include gradientText;
    &:hover {
        background: #ededed;
    }
}

.privacyPolicyWrapper{
    color: #888;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    a {
        color: inherit;
        text-decoration: underline;
        &:hover{
            @include gradientText
        }
    }
}

.bottomPolicyText {
    font-size: 12px;
    color: #7f7f7f;
}

.landing{
    position: absolute;
    //bottom: -250px;
    top: 120px;
    z-index: 1;
    @include widthHeight(400px, 410px);
    padding: 25px 30px 30px;
    border-radius: 4px;
    box-shadow: 0 0 12px #7f7f7f;
    @include res-to(1000px){
        display: none;
    }
}

.shake{
    :global{
        animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
    }
    @keyframes :global(trambling-animation) {
        0%, 50%, 100% {
            transform: rotate(0deg);
        }
        10%, 30% {
            transform: rotate(-1deg);
        }
    
        20%, 40% {
            transform: rotate(1deg);
        }
    }
}

.checkboxMargin{
    margin-right: 0!important
}

.input__eye{
    @include positionTRBL(absolute, _, 0, _, _);
}

.authLoading {
    padding: 10px;
    margin: 110px !important, 0px, auto !important, 0px
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%
}

.line{
    @include widthHeight(57px, 1px);
    background: #7F7F7F;
    @include res-to(1000px){
        width: 37px
    }
}

.socialButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @include res-to(1000px){
        padding: 0px 30px
    }
}

.checkbox{
    font-size: 12px;
    color: #7F7F7F;
    margin-top: -25px;
    @include res-to(1000px){
        margin-top: 0
    }
}

.forgotPassword{
    cursor: pointer;
    color: #7F7F7F;
    &:hover{
        @include gradientText
    }
}

.button{
    cursor: pointer;
    @include widthHeight(40px, 40px);
    border-radius: 40px;
    &:hover{
        box-shadow: 0 0 5px #7f7f7f;
    }
}

.bottom{
    @include flexCenter;
    width: 100%;
}

.bottomText{
    font-size: 14px;
    color: #7F7F7F;
    margin-right: 20px;
}

.checkboxText{
    color: #7F7F7F!important;
    font-size: 12px!important;
    margin-top: -12px!important
}

.termsWrapper{
    @include positionTRBL(absolute, _, _, 8px, 25%);
    display: flex;
    width: 150px;
}
