@import './../../utilities.scss';

.dropdown {
  button {
    -webkit-appearance: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: #7f7f7f;
    &:hover{
      color: white
    }
  }
  cursor: pointer;
  position: relative;
  &__list{
    @include positionTRBL(absolute, _, _, 31px, calc(50% - 25px));
    display: none;
    box-shadow: 0 0 5px #7f7f7f;
    border-radius: 4px;
    background: white;
    width: 50px;
    flex-direction: column;
    &::before{
      content: "";
      @include widthHeight(50px, 20px);
      @include positionTRBL(absolute, _, _, -18px, -1px);
    }

    div {
      padding: 4px;
    }
  }
  &:hover &__list {
    display: flex;
  }
}
